<h1>Topページ<h1>
  <div class="container">
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-md-6 content">
  <p>このアプリはブログ機能作成課題で作ったブログアプリにBootstrapで装飾したものです。</p>
  <p>ブログを作成したり、過去のブログを見たりする事ができます。</p>
      </div>
    </div>
  </div>
  <%= image_tag 'top_blog.jpg', class: 'top_image'%>
</div>
